*.pth
*.png
*.jpg
*.mp4
*.pt
*.json
*.h5
*.pickle
*.ckpt
*.npz
*.gif
*.pyc
*.zip
*.pt
*.txt
*.DS_Store
!requirements.txt
*.ipynb_checkpoints
!table_empty.csv 
*._csv
*.csv
# *.ipynb
wandb/
__pycache__/
*runs/
*.ini
*_vizdoom.ini
*wandb_config.yaml
episodic_transformer_memory_ppo/
*.vscode
.vscode
logdir/
*logdir_old/
_vizdoom.ini
9x9/
d4rl/
iterative_data/
MinigridMemory_data/
Atari/Atari_checkpoints/

dreamerv3-torch/
OpenDoorsOrder/ 
RATE_delete_after/
RATE_ERNIE/

# *.nn

logdir_old/*
memorymaze_9x9/

plot_attention_maps.ipynb

!readme_img/
!RATE_scheme.png
!atari.png
!memory_envs.png
!mujoco.png 
!rate_dt.png
!atari_mujoco.png.DS_Store
!**/assets/
!**/assets/**

val_dt.ipynb
val_rate.ipynb

ManiSkill/

offline_rl_baselines/validation/*.ipynb

*events.out.tfevents*
data/
runs/
_vizdoom/
.nfs*