*.pth
*.png
*.jpg
*.mp4
*.pt
*.json
*.h5
*.pickle
*.ckpt
*.npz
*.gif
*.pyc
*.zip
*.pt
*.txt
*.DS_Store
!requirements.txt
*.ipynb_checkpoints
!table_empty.csv 
*._csv
*.csv
# *.ipynb
wandb/
__pycache__/
*runs/
*.ini
*_vizdoom.ini
*wandb_config.yaml
episodic_transformer_memory_ppo/
*.vscode
.vscode
logdir/
*logdir_old/
_vizdoom.ini
9x9/
d4rl/
iterative_data/
MinigridMemory_data/
Atari/Atari_checkpoints/

dreamerv3-torch/
OpenDoorsOrder/ 
RATE_delete_after/
RATE_ERNIE/

*.py[cod]
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.h5
*.hdf5
*.pkl
*.model
*.pth
*.pt
events.out.tfevents.*
*.code-workspace

# *.nn

logdir_old/*
memorymaze_9x9/

plot_attention_maps.ipynb

!readme_img/
!RATE_scheme.png
!atari.png
!memory_envs.png
!mujoco.png 
!rate_dt.png
!atari_mujoco.png.DS_Store
!**/assets/
!**/assets/**

val_dt.ipynb
val_rate.ipynb

ManiSkill/

offline_rl_baselines/validation/*.ipynb

*events.out.tfevents*
data/
runs/
_vizdoom/
.nfs*


ActionAssociativeRetrieval/
# Atari/
# MuJoCo/
ManiSkill/
# offline_rl_baselines/
readme_img/
recurrent_baselines/

!requirements/*

popgym/*
run.yaml
src/additional/gen_popgym_data/results/*
popgym/
run_sweeps/
videos/
runs/
test.ipynb
validate_mikasa_robo.ipynb
run_all_experiments/
plot_resources.py
resource_usage.log
run.sh
inference_results/
old_offline_rl_baselines/
try_inference.ipynb
val_mikasa_from_ckpt.py
val_mikasa_from_env_dir.py
train_time/
validate_speed/

*.DS_Store
visualize_attention.py
val_mikasa_from_env_dir.py
val_mikasa_from_ckpt.py
val_mikasa_dp.py
test_vizdoom_data.ipynb
test_minigrid_memory.ipynb
popgym_random_agent.py
n_2025.ipynb
memory_rl_experiments/
minigrid_memory_val_results/
run_experiments/old/
sweep_configs/

validate_tmaze_from_ckpt_batch.py
run_jobs/
src/additional/gen_mdp_data/*
test_arshot_integration.py
test-mdp.ipynb
ass-ret.ipynb