program: recurrent_baselines/Mamba/vizdoom/mamba_train_vizdoom.py
method: bayes
metric:
  name: ReturnsMean_56.5
  goal: maximize
parameters:
  model_config.n_layer:
    values: [1, 2, 3]
  model_config.d_model:
    values: [64, 128, 256]

early_terminate:
  type: hyperband 
  min_iter: 3

# python recurrent_baselines/Mamba/vizdoom/sweeps/run_sweep_mamba.py

# command:
#   - ${env}
#   - ${interpreter}
#   - ${program}
#   - --model_mode=LSTM
#   - --curr=false
#   - --ckpt_folder=sweep_lstm
#   - --max_n_final=3
#   - --text=sweep_lstm