# python 3.9
# PyTorch: 2.6.0+cu124, CUDA: 12.4

pip==21
setuptools==65.5.1
wheel==0.38.0
gymnasium==0.29.1
gym==0.26.2
# pip install torch==2.1.1 torchvision==0.16.1 torchaudio==2.1.1 --index-url https://download.pytorch.org/whl/cu118
# conda install nvidia::cuda-toolkit=12.1
einops==0.8.1
causal-conv1d==1.2.0.post2
mamba-ssm==1.2.0.post1

gym-minigrid==1.0.2
numpy==1.23.5
gymnasium==0.29.0
ruamel.yaml==0.18.10
Pillow==8.2.0
gym==0.18.3